body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    font-size: 15px;
    line-height: 1.65em;
}
.header{
background: rgba(77,189,254,1);
background: -moz-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(to right, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
color:#ffffff ;
padding-bottom: 60px;
padding-top: 50px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}
.ofer{
    margin-top: 160px;
    width: 580px;
}
.intro{
    margin-bottom: 45px;
    
}
.dream-one{
    font-size: 59px;
}
.dream-two{
    margin-bottom: 40px;
    width: 400px;
}
.btn{
    background-color: #ffd429;
    color: #2e2a1b;
    border-radius: px;
    display: block;
    width: 220px;
    padding: 17px 0;
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    transition: all 0.5s ease;
}
.btn:hover{
    background:#d2ac14;
}
.travel{
    margin-bottom: 10px;
}
.section-title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-bottom: 65px;
}
.section-icon{
    padding-top: 115px;
    padding-bottom: 120px;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 310px;
    background:url('../img/icon1.jpg') no-repeat  top;
    margin-left: 0px;
    
}   
.icon-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    margin-top: 100px;
    margin-left:60px;
    
}
.icon-span{
    text-align: center;
}
.icon-palm{
    width: 270px;
    background:url('../img/icon2.jpg') no-repeat  top;

}
.icon-rocket{
    background:url('../img/icon3.jpg') no-repeat  top;
   
}

.form{
    padding-top: 100px;
    background:#ecf3f8;
    
}

.input{
    margin-left: 650px;
    display: flex;
    justify-content: center;
    width: 345px;
    height: 50px;
    border: 1px solid #bbbbbb ;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 25px;
}